<?xml version="1.0" encoding="utf-8"?>

<launch>
    
  <node name="image_view" pkg="image_view" type="image_view" respawn="false" output="screen"> -->
    <remap from="image" to="/usb_cam/image_raw"/>
    <param name="autosize" value="true" />
  </node>

    <!-- Use YOLOv3 -->
  <arg name="network_param_file"         default="$(find darknet_ros)/config/crop_weed.yaml"/>
  <arg name="image" default="camera/rgb/image_raw" />


  <!-- Include main launch file -->
  <include file="$(find darknet_ros)/launch/darknet_ros.launch">
    <arg name="network_param_file"    value="$(arg network_param_file)"/>
    <arg name="image" value="$(arg image)" />
  </include>

</launch>
